
<div class="container pt-5 movies-container">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center app-title pt-5 pb-5">Cosa guardiamo stasera?</h1>
      <p>
        Numero voti inseriti: <span class="badge badge-primary">{{numVoti}}</span><br/>
        Media dei voti: <span class="badge badge-primary">{{averageRating}}</span>
      </p>
    </div>
  </div>
</div><!-- end of container -->
<div class="container mt-5">
<div class="row">
  <div class="col-xs-12 col-md-6">
    <h2>Film disponibili</h2>

    <div class="form-group">
      <input  [(ngModel)]="searchText" id="searchText" class="form-control" placeholder="Cerca per titolo...">
    </div>

    <div class="row">
      <div class="col-12">
          <p *ngIf="searchText" class="search-summary">Hai cercato <strong>{{ searchText }}</strong></p>
      </div>
    </div>

    <ul class="list-group list-group-flush movies">
      <!-- results of ngFor is passed to appFilter with argument searchText -->
      <li class="list-group-item" *ngFor="let movie of movies | appFilter: searchText" (click)="onSelect(movie)">
        <div class="row">
          <div class="col-10"><span>{{movie.Title}}</span></div>
          <div class="col-2"><button class="btn btn-default" (click)="onSelect(movie)">Info</button></div>
        </div>
      </li>
    </ul>
  </div> <!-- end of col -->

  <div class="col-xs-12 col-md-6">

    <div *ngIf="selectedMovie.Title" class="selectedMovie pt-5 pb-5">


      <h2>{{selectedMovie.Title}}</h2>
      <ngb-rating [(ngModel)]="selectedMovie.userRating" [max]="5" (click)="saveRating(selectedMovie)"></ngb-rating>

      <!-- Poster non disponibili, uso prima immagine da images -->
      <img src="{{selectedMovie.Images[0]}}" alt="Poster for {{selectedMovie.Title}}" class="mt-5">


      <table class="table table-condensed">
        <tr>
          <td><strong>Title</strong></td>
          <td>{{selectedMovie.Title}}</td>
        </tr>
        <tr>
          <td><strong>Year</strong></td>
          <td>{{selectedMovie.Year}}</td>
        </tr>
        <tr>
          <td><strong>Released</strong></td>
          <td>{{selectedMovie.Released}}</td>
        </tr>
        <tr>
          <td><strong>Runtime</strong></td>
          <td>{{selectedMovie.Runtime}}</td>
        </tr>
        <tr>
          <td><strong>Genre</strong></td>
          <td>{{selectedMovie.Genre}}</td>
        </tr>
        <tr>
          <td><strong>Director</strong></td>
          <td>{{selectedMovie.Director}}</td>
        </tr>
        <tr>
          <td><strong>Writer</strong></td>
          <td>{{selectedMovie.Writer}}</td>
        </tr>
        <tr>
          <td><strong>Actors</strong></td>
          <td>{{selectedMovie.Actors}}</td>
        </tr>
        <tr>
          <td><strong>Plot</strong></td>
          <td>{{selectedMovie.Plot}}</td>
        </tr>
        <tr>
          <td><strong>Language</strong></td>
          <td>{{selectedMovie.Language}}</td>
        </tr>
        <tr>
          <td><strong>Country</strong></td>
          <td>{{selectedMovie.Country}}</td>
        </tr>
        <tr>
          <td><strong>Awards</strong></td>
          <td>{{selectedMovie.Awards}}</td>
        </tr>
        <tr>
          <td><strong>Metascore</strong></td>
          <td>{{selectedMovie.Metascore}}</td>
        </tr>
        <tr>
          <td><strong>imdbRating</strong></td>
          <td>{{selectedMovie.imdbRating}}</td>
        </tr>
        <tr>
          <td><strong>imdbVotes</strong></td>
          <td>{{selectedMovie.imdbVotes}}</td>
        </tr>
        <tr>
          <td><strong>imdbID</strong></td>
          <td>{{selectedMovie.imdbID}}</td>
        </tr>
        <tr>
          <td><strong>Type</strong></td>
          <td>{{selectedMovie.Type}}</td>
        </tr>
        <tr>
          <td><strong>Response</strong></td>
          <td>{{selectedMovie.Response}}</td>
        </tr>
      </table>

      <hr />
      <div class="row">

        <!-- start of Carousel -->
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
              <div class="carousel-item" *ngFor="let image of selectedMovie.Images; let first=first" [class.active]="first">
                <img src={{image}} class="d-block w-100" alt="selectedMovie.Title" >
              </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div> <!-- end of row -->

    </div>
  </div> <!-- end of col -->
</div> <!-- end of row -->
</div><!-- end of container -->
